@section style{
}

<div class="container">
    <iframe src="~/Resources/Skins/default/Main_Screen_5.html" scrolling="no" frameborder="0" width="100%" height="100%" marginheight="0" marginwidth="0" allowtransparency="true"></iframe>
    <div class="con-left">
        <div class="block">
            <div class="block-hd">
                <b class="tit">废物单位概况</b>
            </div>
            <div class="block-bd raster">
                <div class="row">
                    <div class="col col-6">
                        <div class="cc-md">
                            <img src="~/Resources/Skins/default/images/cc_ic5.png" />
                            <h1>危险废物产生单位</h1>
                            <p>250家</p>
                        </div>
                    </div>
                    <div class="col col-6">
                        <div class="cc-md">
                            <img src="~/Resources/Skins/default/images/cc_ic6.png" />
                            <h1>危险废物处置经营单位</h1>
                            <p>10家</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="gap"></div>
        <div class="block">
            <div class="block-hd">
                <b class="tit">废物情况</b>
                <ul class="ul-2 otr">
                    <li class="on">危险废物</li>
                    <li>一般工业固废</li>
                </ul>
            </div>
            <div class="block-bd">
                <div class="ul2-item on">
                    <div class="poly-mod">
                        <h1>废物产生情况</h1>
                        <div class="poly">
                            <h4>产生</h4>
                            <p class="detail-info">全年共产生废物  <b>400吨</b></p>
                            <p class="detail-info">本季度产生  <b>20吨</b></p>
                        </div>
                    </div>
                    <div class="poly-mod">
                        <h1>废物转移情况</h1>
                        <div class="poly">
                            <h4>转移</h4>
                            <p class="detail-info">全年共转移废物  <b>320吨</b></p>
                            <p class="detail-info">本季度转移  <b>60吨</b></p>
                        </div>
                    </div>
                    <ul class="pyr md1">
                        <h2>全年<br />转移情况</h2>
                        <li>
                            <strong style="color: #fe9834;">3800吨</strong>
                            <span>市内转移</span>
                        </li>
                        <li>
                            <strong style="color: #ffea00;">5500吨</strong>
                            <span>跨市转移</span>
                        </li>
                        <li>
                            <strong style="color: #7fcb1d;">1000吨</strong>
                            <span>跨省转移</span>
                        </li>
                    </ul>
                    <div class="poly-mod">
                        <h1>废物处置情况</h1>
                        <div class="poly">
                            <h4>处置</h4>
                            <p class="detail-info">全年共处置废物  <b>100吨</b></p>
                            <p class="detail-info">本季度处置  <b>40吨</b></p>
                        </div>
                    </div>
                    <ul class="pyr md2">
                        <h2>全年废物<br />接收情况</h2>
                        <li>
                            <strong style="color: #fe9834;">3800吨</strong>
                            <span>市内实际接收量</span>
                        </li>
                        <li>
                            <strong style="color: #ffea00;">3700吨</strong>
                            <span>市外实际接收量</span>
                        </li>
                    </ul>
                    <div class="poly-mod">
                        <h1>全年废物贮存情况</h1>
                        <div class="poly">
                            <h4>贮存</h4>
                            <p class="detail-info">全年共贮存废物  <b>100吨</b></p>
                            <p class="detail-info">本季度贮存  <b>60吨</b></p>
                        </div>
                    </div>
                </div>
                <div class="ul2-item">
                    <div class="gap"></div>
                    <div class="poly-mod">
                        <h1>废物产生情况</h1>
                        <div class="gap"></div>
                        <div class="poly">
                            <h4>产废</h4>
                            <p class="detail-info">全年共产生废物  <b>400吨</b></p>
                            <p class="detail-info">本季度产生  <b>20吨</b></p>
                        </div>
                    </div>
                    <div class="gap"></div>
                    <div class="poly-mod">
                        <h1>废物处置情况</h1>
                        <div class="gap"></div>
                        <div class="poly">
                            <h4>处置</h4>
                            <p class="detail-info">全年共处置废物  <b>100吨</b></p>
                            <p class="detail-info">本季度处置  <b>40吨</b></p>
                        </div>
                    </div>
                    <div class="gap"></div>
                    <div class="gap"></div>
                    <div class="poly-mod">
                        <h1>全年废物贮存情况</h1>
                        <div class="gap"></div>
                        <div class="poly">
                            <h4>贮存</h4>
                            <p class="detail-info">全年共贮存废物  <b>100吨</b></p>
                            <p class="detail-info">本季度贮存  <b>60吨</b></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="con-right">
        <div class="block">
            <div class="block-hd">
                <b class="tit">全市“清废行动情况</b>
            </div>
            <div class="block-bd raster">
                <div class="row">
                    <div class="col col-4">
                        <div class="cm-md">
                            <img src="~/Resources/Skins/default/images/cc_ic7.png" />
                            <h2>全年1-9月发现问题</h2>
                            <p>500个</p>
                        </div>
                    </div>
                    <div class="col col-4">
                        <div class="cm-md">
                            <img src="~/Resources/Skins/default/images/cc_ic8.png" />
                            <h2>整改问题</h2>
                            <p>300个</p>
                        </div>
                    </div>
                    <div class="col col-4">
                        <div class="cm-md">
                            <img src="~/Resources/Skins/default/images/cc_ic9.png" />
                            <h2>违法查处</h2>
                            <p>100个</p>
                        </div>
                    </div>
                </div>
                <div class="gap"></div>
                <div class="gap"></div>
                <div class="tit-hd">各区县清废行动情况</div>
                <img src="~/Resources/Skins/default/images/tbp.png" class="db auto" style="max-width: 100%; margin-top: 30px;" />
            </div>
        </div>
    </div>

    <div class="fix-md">
        <div class="block fulw">
            <div class="block-hd">
                <b class="tit">全市"清废"重点工程</b>
            </div>
            <div class="block-bd raster">
                <div class="row">
                    <div class="col col-6">
                        <img src="~/Resources/Skins/default/images/tbc3.png" class="db" style="max-width: 100%; margin: 35px auto 0;" />
                    </div>
                    <div class="col col-6">
                        <h1 class="tit-hd">项目进度情况</h1>
                        <img src="~/Resources/Skins/default/images/tbc4.png" class="db auto" style="max-width: 100%;" />
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
@section script
    {
    <script src="~/App/page/cleanWaste/index.js"></script>
}

