@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="mini-fit main-wrap">
    <div id="editform" class="editform">
        <table class="item-c-table">
            <colgroup>
                <col style="width:20%" />
                <col style="width:30%" />
                <col style="width:20%" />
                <col style="width:30%" />
            </colgroup>
            <tbody>
                <tr>
                    <td class="thd"><font color="red">*</font><label>原始密码@*<span class="tooltip-link hint--top" aria-label="请填写原始密码"></span>*@：</label> </td>
                    <td>
                        <input name="oldPassword" id="oldPassword" tabindex="0" autofocus class="mini-password"
                               maxlength="50"
                               required requirederrortext="原始密码不能为空" />
                    </td>
                </tr>
                <tr>
                    <td class="thd"><font color="red">*</font>新密码：</td>
                    <td>
                        <input name="newPassword" id="newPassword" class="mini-password"
                               maxlength="100"
                               required requirederrortext="新密码不能为空">
                    </td>
                </tr>
                <tr>
                    <td class="thd"><font color="red">*</font>确认密码：</td>
                    <td>
                        <input name="newPassword1" id="newPassword1" class="mini-password"
                               maxlength="18" required requirederrortext="确认新密码不能为空">
                    </td>
                </tr>
            </tbody>
        </table>
        <div style="text-align:center">
            <button class="com-btn" onclick="change()">保存</button>
        </div>
    </div>
</div>
@section script{
    <script type="text/javascript">
        function change() {
            var form = new mini.Form("#editform");
            if (!mini.validateForm(form)) return false;
            var data = form.getData();
            if (data.newPassword != data.newPassword1) {
                $$.message.warn("新密码与确认密码不一致！");
                return false;
            }
            var url = '@Url.Action("ChangeUserPassword")';
            $$.ui.setBusy(null,
                $$.ajax({
                    data: JSON.stringify(data),
                    url: url,
                    type: 'POST'
                }).done(function (d) {
                    if (d.isSuccess) {
                        $$.notify.success("密码成功！");
                    }
                    else {
                        $$.notify.error("密码失败", d.message);
                    }
                }).always(function () {
                    $$.ui.clearBusy(null);
                })
            );
        }
    </script>
}
