@{
    var id = ViewContext.RouteData.Values["id"];
}

<div class="pd010 layui-form" ng-controller="indexCtrl as vm" ng-cloak>
    <div class="grid-infor">

        @*<div class="data-sethead fr">
                <button class="layui-btn layui-btn-sm layui-btn-normal" lay-filter="form1" lay-submit>保存</button>
                <button class="layui-btn   layui-btn-sm layui-btn-primary" onclick="parent.layer.closeAll()">取消</button>
            </div>*@

        <table>
            <tr>
                <td>
                    <input type="hidden" ng-model="vm.entity.XH" />
                    <span class="red">*</span>文件名
                </td>
                <td>
                    <input type="text" ng-model="vm.entity.WJM" ng-readonly="vm.isEdit" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input" maxlength="50">
                </td>
            </tr>
            <tr>
                <td>
                    <span class="red">*</span>文件路径
                </td>
                <td>
                    <input type="text" ng-model="vm.entity.WJLJ" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input" maxlength="50">
                </td>
            </tr>
            <tr>
                <td>
                    <span class="red">*</span>文件大小
                </td>
                <td>
                    <input type="text" ng-model="vm.entity.WJDX" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input" maxlength="50">
                </td>
            </tr>
            <tr>
                <td>
                    <span class="red">*</span>版本号
                </td>
                <td>
                    <input type="text" ng-model="vm.entity.BBH" lay-verify="required|number" placeholder="请输入" autocomplete="off" class="layui-input" maxlength="50">
                </td>
            </tr>
            <tr>
                <td>
                    <span class="red">*</span>更新内容
                </td>
                <td>
                    <input type="text" ng-model="vm.entity.BZ" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input" maxlength="50">
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="foot-btnp">
    <button class="layui-btn layui-btn-sm layui-btn-normal" lay-filter="form1" lay-submit>保存</button>
    <button class="layui-btn   layui-btn-sm layui-btn-primary" onclick="parent.layer.closeAll()">取消</button>
</div>


<!-- 主体结束 -->
@section script
{
    <script type="text/javascript">
    var id = '@id';
        angular.module("app.ydyd")
            .controller("indexCtrl", ["$scope", "pdActionSvr", "pdResourceSvr", function ($scope, pdActionSvr, pdResourceSvr) {
                var edit = id == "" ? false : true;
                var addOrEditUrl = '@Url.Action("AddOrEdit")?edit=' + edit;

                var vm = this;
                vm.entity = { };
                vm.filter = { sortfield: 'xh', KEY: '' };

                vm.save = function () {
                    console.log(addOrEditUrl);
                    pdResourceSvr.post(addOrEditUrl, vm.entity)
                        .then(function (rsp) {
                            if (rsp.Result) {
                                pdActionSvr.success('保存成功', '提示');
                                vm.isEdit = true;
                            } else {
                                pdActionSvr.error(rsp.message || '保存失败');
                            }
                        });
                }

                vm.init = function () {
                    if (id) {
                        vm.isEdit = true;
                        pdResourceSvr.get('@Url.Action("Get")?id=' + id)
                            .then(function (rsp) {
                                console.log(rsp);
                                vm.entity = rsp || {};
                            });
                    }
                }

                vm.init();

                //监听提交
                layui.form.on('submit(form1)', function (data) {
                    vm.save();
                });
            }]);
      
    </script>
}
