@{
    //Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="pd010" ng-controller="indexCtrl as vm">
    <div class="layui-row" lay-filter="form1">
        <div class="layui-form data-sethead">
            <div class="layui-inline">
                <input type="text" style="width:200px" placeholder="请输入文件名" class="layui-input" ng-model="vm.search.WJM">
             </div>
                <button class="layui-btn layui-btn-sm  layui-btn-green " ng-click="vm.searchTable()">搜索</button>
                <button class="layui-btn  layui-btn-sm layui-btn-normal" ng-click="vm.add()">新增</button>
            </div>
            <table id="grid" lay-filter="grid"></table>
        </div>
</div>
@section script
{
    <script type="text/javascript">
        angular.module("app.rms")
            .controller("indexCtrl", ["$scope", "pdActionSvr", "pdResourceSvr", "pdTableSvr", function ($scope, pdActionSvr, pdResourceSvr, pdTableSvr) {

                var url = '@Url.Action("GetPage")';
                 var winUrl = '@Url.Action("AddOrEdit")';
                var table = {};
                var vm = this;
                vm.search = {
                    WJM: "",
                    Operatetype: null,
                    Module: null,
                    sortfield: "CJSJ",
                    sortorder:"DESC"
                };
                console.log(vm.search);
                vm.init = function () {
                    table = pdTableSvr.render({
                        elem: '#grid',
                        url: url,
                        where: vm.search,
                        page: true,
                        cols: [[
                            { type: 'numbers', title: '序号', width: '5%' },
                            { field: 'WJM', title: '文件名', width: '10%', align: 'center' },
                            { field: 'WJLJ', title: '文件路劲', width: '25%' },
                            { field: 'WJDX', title: '文件大小', width: '10%' },
                            { field: 'BBH', title: '版本号', width: '10%' },
                            { field: 'BZ', title: '修改内容', width: '20%' },
                            { title: '操作', fixed: 'right', toolbar: '#eventBar' }
                        ]]
                    });


                     layui.table.on('tool(grid)', function (obj) {
                        var xh = obj.data.XH;
                    if (obj.event === 'edit') {
                            top.layer.open({
                                type: 2,
                                area: $$.configs.winArea,
                                title: '修改APP版本',
                                content: winUrl + '/' +xh,
                                end: function () {
                                    reload();
                                }
                            });

                        }
                    });
                }

                vm.searchTable = function () {
                    vm.search.Operatetype = $scope.vm.search.Operatetype;
                    vm.search.Module = $scope.vm.search.Module;
                    console.log(vm.search);
                    table.reload({
                        where: vm.search,
                        page: true
                    });
                }
                vm.add = function () {
                    vm.entity = { XH: '' };
                    top.layer.open({
                        type: 2,
                        area: $$.configs.winArea,
                        title: '新增APP版本管理',
                        content: winUrl,
                        end: function () {
                            reload();
                        }
                    });
                }

                reload = function () {
                    table.reload()
                }

                vm.init();
            }]);

    </script>
    <script type="text/html" id="eventBar">
        <a class="layui-btn layui-btn-xs layui-btn-normal" lay-event="edit">更新版本信息</a>
    </script>
}
