@section style{
}
<div class="container" ng-controller="mcCtrl">
    <iframe src="~/Resources/Skins/default/Main_Screen_4.html" scrolling="no" frameborder="0" width="100%" height="100%" marginheight="0" marginwidth="0" allowtransparency="true"></iframe>
    <div class="con-left">
        <div class="block">
            <div class="block-hd">
                <b class="tit">全市污染地块统计</b>
            </div>
            <div class="block-bd raster">
                <div class="row">
                    <div class="col col-6">
                        <div class="cc-md">
                            <img src="~/Resources/Skins/default/images/cc_ic1.png" />
                            <h1>疑似污染地块</h1>
                            <p ng-bind="Qswrdktj.YSWRDK"></p>
                        </div>
                    </div>
                    <div class="col col-6">
                        <div class="cc-md">
                            <img src="~/Resources/Skins/default/images/cc_ic2.png" />
                            <h1>污染地块</h1>
                            <p ng-bind="Qswrdktj.WRDK"></p>
                        </div>
                    </div>
                </div>
                <div class="tb-md">
                    <h1>各区县污染地块统计</h1>
                    <div id="wrdkqxChart" style="width:440px;height:294.95px;"></div>
                </div>
            </div>
        </div>
        <div class="gap"></div>
        <div class="block">
            <div class="block-hd">
                <b class="tit">污染地块安全利用率</b>
            </div>
            <div class="block-bd">
                @*<div class="tb-md1" ng-bind-template="{{Wrdkaql}}%"></div>*@
               <div id="wrdkaqlChart" style="width:480px;height:212px;"></div>
                <dl class="tb-md2 clear">
                    <dt>区县污染地块安全利用率top3</dt>
                    <dd class="raster">
                        <div class="row">
                            <div class="col col-4" ng-repeat="item in WrdkaqlTop3">
                                <div class="cc-md">
                                    <img ng-src="~/Resources/Skins/default/images/tc_ic{{$index+1}}.png" />
                                    <h1 ng-bind="item.Name"></h1>
                                    <p ng-bind-template="{{item.Val}}%"></p>
                                </div>
                            </div>
                        </div>
                    </dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="con-right">
        <div class="block">
            <div class="block-hd">
                <b class="tit">全市污染防治情况</b>
            </div>
            <div class="block-bd raster">
                <div class="row">
                    <div class="col col-7">
                        <div class="cc-md">
                            <img src="~/Resources/Skins/default/images/cc_ic3.png" />
                            <h1>全年1-@(DateTime.Now.Month)月污染防治项目</h1>
                            <p ng-bind-template="{{Wrfz.Fzqk.FZXM}}个"></p>
                        </div>
                    </div>
                    <div class="col col-5">
                        <div class="cc-md">
                            <img src="~/Resources/Skins/default/images/cc_ic4.png" />
                            <h1>项目资金</h1>
                            <p ng-bind-template="{{Wrfz.Fzqk.XMZJ}}万"></p>
                        </div>
                    </div>
                </div>
                <div class="tb-md">
                    <h1>各区县污染防治项目情况</h1>
                    <div id="wrfzqxChart" style="width:440px;height:296px;"></div>
                </div>
            </div>
        </div>
        <div class="gap"></div>
        <div class="block">
            <div class="block-hd">
                <b class="tit">全市污染防治项目资金情况</b>
            </div>
            <div class="block-bd">
                <div id="wrfzzjqkChart" style="width:479px;height:210px;"></div>
                <dl class="tb-md2 clear">
                    <dt>区县污染防治项目资金top3</dt>
                    <dd class="raster">
                        <div class="row">
                            <div class="col col-4" ng-repeat="item in Wrfz.XmzjTop3">
                                <div class="cc-md" >
                                    <img ng-src="~/Resources/Skins/default/images/tc_ic{{$index + 1}}.png" />
                                    <h1 ng-bind="item.Name"></h1>
                                    <p ng-bind-template="{{item.Val}}万"></p>
                                </div>
                            </div>
                        </div>
                    </dd>
                </dl>
            </div>
        </div>
    </div>

    <div class="fix-md">
        <div class="block fl">
            <div class="block-hd">
                <b class="tit">全市土壤重点工程</b>
            </div>
            <div class="block-bd">
                <div id="drzdgcChart1" style="width:384.625px; height:149px;"></div>
            </div>
        </div>
        <div class="block fr">
            <div class="block-hd">
                <b class="tit">全市土壤重点工程</b>
            </div>
            <div class="block-bd">
                <div id="drzdgcChart2" style="width:384.625px; height:149px;"></div>
            </div>
        </div>
    </div>
</div>

@section script
    {
    <script src="~/App/page/cleanDust/index.js"></script>
}

