<!--首页 有左侧菜单结构-->
@{
    Layout = "";
    string username = ViewBag.UserName;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>遂昌智慧环保</title>
    <link rel="shortcut icon" href="~/favicon.ico" />
    @Html.Partial("_Layout.Style.V2")

</head>
<body class="bg_f0f" ng-app="app.index" ng-controller="menuCtrl" style="overflow:hidden;">
    <div class="header">
        <div class="l-center">
            <a href="~/" class="logo">
                遂昌智慧环保云桌面管理系统
            </a>
            <div class="fr mr140">
                <ul class="layui-nav nav-another lay-bg-zdy fl" id="div_listInfo" lay-filter="">
                    <li class="layui-nav-item" ng-class="{'layui-this':$index==0}" ng-repeat="topMenu in menuData.Childrens.slice(0,MAX_ICON)" id="{{topMenu.Id}}" url="{{topMenu.MenuUrl}}" ng-click="clickTopMenu($index,topMenu)">
                        <i class="line-lf"></i>
                        <i class="{{topMenu.Tpwz || 'hbg-icon'}}"></i>
                        <a href="javascript:;" ng-bind="topMenu.MenuName"></a>
                        <i class="line-rt"></i>
                    </li>
                </ul>
                <i class="header-func fl" id="header-func" ng-show="menuData.Childrens.length > MAX_ICON">
                    <ul>
                        <li ng-repeat="topMenu in menuData.Childrens.slice(MAX_ICON)" ng-bind="topMenu.MenuName" ng-class="{on:$index + MAX_ICON == selected.topMenuIndex}" ng-click="clickTopMenu($index + MAX_ICON,topMenu)"></li>
                    </ul>
                </i>
            </div>
            <div class="header-rt fr">
                <a href="javascript:;" class="admin" id="userName" title="@username" ng-click="changePassword()">@username&nbsp;&nbsp;</a>
                <a href="javascript:;" class="exit" id="logout" title="退出" ng-click="logOut()"></a>
            </div>
        </div>
    </div>
    <div class="container" id="container" ng-class="{hasLeftMenu:hasLeftMenu, noLeftMenu: !hasLeftMenu}" ng-cloak>
        <div class="nav-wrap">
            <div class="sm-nav">
                <div class="wrapT">
                    <p class="navToggle" id="toggle-1"></p>
                    <em class="tips">菜单</em>
                </div>
                <ul id="siderNavSm">
                    <li ng-repeat="level1 in leftMenuData">
                        <i class="icon" ng-class="getMenuIconClass($index, level1)"></i>
                        <em class="tips" ng-bind="level1.MenuName"></em>
                    </li>
                </ul>
            </div>

            <!-- 侧边导航大 -->
            <div class="lg-nav dn table-scroll">
                <p class="navToggle" id="toggle-2">
                    <i></i>
                </p>
                <ul id="siderNav">
                    <li ng-class="{on:$index == 0, current: $index==0}" ng-repeat="level1 in leftMenuData">
                        <a href="javascript:void(0);" ng-class="getMenuIconClass($index,level1)" ng-bind="level1.MenuName"></a>
                        <ul class="sub-nav">
                            <li ng-repeat="level2 in level1.Childrens" ng-class="{on:level2.isDefault}"><a id="{{level2.Id}}" ng-href="{{getMenuUrl(level2)}}" target="content" ng-bind="level2.MenuName"></a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="side-content" id="side-content">
            <iframe id="content" name="content" scrolling="auto" ng-src="{{contentUrl}}" style="width:100%; height: 400px;overflow:auto;background-color:#fff;" frameborder="0"></iframe>
        </div>
    </div>
    <p class="support-by">深圳市博安达信息技术股份有限公司 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;建议IE8及以上版本浏览器、google浏览器</p>
    @Html.Partial("_Layout.Script.V2")
    <script src="~/App/page/index/menuCtrl.js"></script>
    <script>
        var url = $$.appPath + 'Index/Menus';
        $(document).ready(function () {

            var mainContent = $('#side-content');
            $('#div_listInfo').on('click', '.layui-nav-item', function () {
                console.log(this);
                $(this).addClass('layui-this').siblings().removeClass('layui-this');
            });

            // 导航收缩
            $(document).on('click', '#siderNav > li', function () {
                if ($(this).hasClass('on')) {
                    $(this).removeClass('on').find('.sub-nav').hide();
                    $('#siderNav > li').removeClass('current');
                } else {
                    $(this).siblings().removeClass('on').find('.sub-nav').hide();
                    $(this).addClass('on').find('.sub-nav').show();
                }

                $(".table-scroll").getNiceScroll().resize()
                $(".table-scroll").niceScroll({
                    touchbehavior: false,
                    cursorcolor: "#e1eef9",
                    cursoropacitymax: 0,
                    cursorwidth: 4,
                    cursorborder: 'none',
                    background: "#c3def4",
                    enableobserver: true
                })
            })
            // 导航折叠
            $('#toggle-1').click(function () {
                $(this).parent().parent('.sm-nav').hide();
                $('.lg-nav').show();
                mainContent.css('margin-left', 200);
            });

            $('#toggle-2').click(function () {
                // 计算收缩时应该选中哪个菜单
                var idx = $('#siderNav').children('.current').index();
                var smCurrent = $('#siderNavSm').children().eq(idx);
                smCurrent.addClass('curnt');
                $(this).parent('.lg-nav').hide();
                $('.sm-nav').show();
                mainContent.css('margin-left', 36);
            });

            $(document).on('click', '.sub-nav li', function (event) {
                event.stopPropagation();
                $(this).addClass('on').siblings().removeClass('on');
                $(this).parent().parent().addClass('current');
                $(this).parent().parent().siblings().removeClass('current');
                $(this).parent().parent().siblings().find('li').removeClass('on');
            })

            $(' .sm-nav ul').click(function () {
                $(this).parent('.sm-nav').hide();
                $('.lg-nav').show();
                mainContent.css('margin-left', 200);
            });

            $('.sm-nav ul li').click(function () {
                $(this).addClass('curnt').siblings().removeClass('curnt');
            });

            $('.header-func').click(function () {
                $(this).toggleClass('on')
            });
            window.onload = window.onresize = function () { setHeight() };
            function setHeight() {
                var height = $(window).height() - $(".header").outerHeight() - $(".support-by").outerHeight();
                $('#container').height(height);
                $('#content').height(height - 20);
            };
        });
    </script>
</body>
</html>