@{
    var id = ViewContext.RouteData.Values["id"];
    int editFlag = ViewBag.editFlag;
}

<div class="pd010 layui-form @(editFlag == 0 ? "pdb10" : "pdb55")" ng-controller="indexCtrl as vm" ng-cloak>
    <div class="grid-infor">
        <table @(editFlag == 0 ? "form-readonly" : "")>
            <tr>
                <td>
                    <span class="red">*</span>代码集编号
                </td>
                <td>
                    <input type="text" ng-readonly="vm.isEdit" ng-model="vm.entity.DMJBH" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input" maxlength="50">
                </td>
            </tr>
            <tr>
                <td>
                    <span class="red">*</span>代码集名称
                </td>
                <td>
                    <input type="text" ng-model="vm.entity.DMJMC" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input" maxlength="50">
                </td>
            </tr>
            <tr>
                <td>
                    类型
                </td>
                <td>
                    <input type="text" ng-model="vm.entity.LX" placeholder="请输入" autocomplete="off" class="layui-input" maxlength="50">
                </td>
            </tr>
            <tr>
                <td>
                    所属模块
                </td>
                <td>
                    <input type="text" ng-model="vm.entity.SXMK" placeholder="请输入" autocomplete="off" class="layui-input" maxlength="50">
                </td>
            </tr>
        </table>
    </div>
    @if (editFlag == 1)
    {
        <div class="foot-btnp">
            <button class="layui-btn layui-btn-sm layui-btn-normal" lay-filter="form1" lay-submit>保存</button>
            <button class="layui-btn   layui-btn-sm layui-btn-primary" onclick="parent.layer.closeAll()">取消</button>
        </div>
    }
</div>

@section script{
    <script>
        var id = '@id';

        angular.module("app.ydyd")
            .controller("indexCtrl", ["$scope", "pdActionSvr", "pdResourceSvr", function ($scope, pdActionSvr, pdResourceSvr) {
                var addOrEditUrl = '@Url.Action("AddOrEditPost")';

                var vm = this;
                vm.entity = { };
                vm.save = function () {
                    pdResourceSvr.post(addOrEditUrl, vm.entity)
                        .then(function (rsp) {
                            if (rsp.Result) {
                                pdActionSvr.success('保存成功', '提示');
                                vm.isEdit = true;
                            } else {
                                pdActionSvr.error(rsp.message || '保存失败');
                            }
                        });
                }

                vm.init = function () {
                    if (id) {
                        vm.isEdit = true;
                        pdResourceSvr.get('@Url.Action("Get")?id=' + id)
                            .then(function (rsp) {
                                vm.entity = rsp || {};
                            });
                    }
                }

                vm.init();

                //监听提交
                layui.form.on('submit(form1)', function (data) {
                    vm.save();
                });
            }]);
    </script>
}