
@{
    ViewBag.Title = "Test";
}
<div id="tpl" style="display:none;"></div>

<div id="app" v-cloak>
    <router-link to="/foo">Go to Foo</router-link>
    <router-link to="/foo2">Go to Foo2</router-link>
    <router-view></router-view>
</div>

@section script{
    <script>
        var foo = httpVueLoader('/test.vue')

        const router = new VueRouter({
            routes: [
                { path: '/foo', component: foo },
            ]
        })
        var app = new Vue({
            router: router,
            data: {
                content: 'hello',
            },
            created: function () {
            },
            mounted: function () {
            },
            computed: {
            },
            watch: {
            },
            methods: {
            },
            filters: {
            }
        }).$mount('#app')
    </script>
    
    }
