
<!--
casServerLoginUrl   cas服务的登录地址
casServerUrlPrefix  cas服务地址的前缀
serverName          子系统的地址  
-->
<casClientConfig
    casServerLoginUrl="http://202.104.140.36:8024/cas/login"
    casServerUrlPrefix="http://202.104.140.36:8024/cas/"
    serverName="http://172.16.31.126:1111"
    notAuthorizedUrl="~/NotAuthorized.aspx"
    cookiesRequiredUrl="~/CookiesRequired.aspx"
    redirectAfterValidation="true"
    gateway="false"
    renew="false"
    singleSignOut="true"
    ticketTimeTolerance="5000"
    ticketValidatorName="Cas20"
    serviceTicketManager="CacheServiceTicketManager"
    gatewayStatusCookieName="CasGatewayStatus" >
</casClientConfig>
